.voteForButton {
  color: #52b528;
}

.voteAgainstButton {
  color: #f50;
}

.deleteButton {
  color: gray;
}

.deleteButton:hover {
  cursor: pointer;
}

.voteForButton:hover {
  cursor: pointer;
}

.voteAgainstButton:hover {
  cursor: pointer;
}
